
    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title">Hi Emily!<br></h1>
            <p>This form will collect your payment for the lab test and save your credit card info for future use. We use stripe, a secure encrypted gateway to manage all payments.We are not able to see any of your credit card information. 
           
        </article>
    <aside id="details-aside" class="col-sm-4">
        
                  <%= form_tag charges_path, id: 'chargeForm' do %>
            <script src="https://checkout.stripe.com/checkout.js">  </script>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %> 
            <%= hidden_field_tag 'amount', 18900 %>  
            <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Open Form</button>
            <script>
            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              token: function(token, arg) {
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
              }
            });
             document.getElementById('btn-buy').addEventListener('click', function(e) {
              handler.open({
                name: 'One Month',
                description: 'Lab Test ($189.00)',
                amount: document.getElementById("amount").value
            });
            e.preventDefault();
           })
          </script>

        <% end %>
</aside>




            
    
    </section>
</div>
<footer id="site-footer">
Produced by <a href="http://accent.global" style="color:white" target="_blank">O2 Nutrition</a></footer>






